.page-loader {
    display: block;
    &[data-loading="spinner"] {
        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateX(-50%);
        }
    }
}